<div class="container-fluid">
    <form class="col-sm-offset-4 col-sm-4 form-horizontal" role="form" method="post">
        <h3 style="text-align:center">登录WorkHelper</h3>
        <div class="form-group">
            <div class="">
                <input type="text" class="form-control" id="acctno" name="acctno" placeholder="用户ID" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="密码" required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">登录</button>
                </span>
            </div>
        </div>
    </form>
</div>
